.card-img-header {
    height: 200px;
    overflow: hidden;
}

.h-10 {
    height: 10%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}

.heart-big {
    color: #007bff!important;
    font-size: 2.5rem!important;
}

.heart-medium {
    color: #6c757d!important;
    font-size: 2rem!important;
}

.modal-dialog {
    z-index: 1031;
}